* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 375px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: url(https://i.pinimg.com/736x/7c/f9/f9/7cf9f99cbf089d75e217f6c5b4111239.jpg);
  background-size: cover;
}

.page {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: flex-start;
  height: 100vh;
}

.accounts {
  border-radius: 5px;
  width: 30%;
  border: 2px rgb(255, 159, 204);
  box-shadow: 0 0 35px rgb(255, 27, 160);
  background-color: white;
}

.account-dual {
  background-color: #ff232394;
  background-image: url(https://i.pinimg.com/originals/6c/53/f9/6c53f9430d44f1d2abb03a9ea9164677.gif);
}

.account {
  width: 50%;
}

img {
  height: 150px;
  width: 170px;
  border-radius: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 2px solid;
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.658);
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  font-style: normal;
  color: rgb(111, 180, 192);
}

h2 {
  color: rgb(255, 255, 255);
}
h3 {
  color: rgb(0, 147, 167);
}

.font {
  color: rgb(0, 118, 134);
}
